In [2]:
import pandas as pd

pd.__version__

'2.2.2'

In [3]:
coffee = pd.read_csv('warmup-data/coffee.csv')

coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [4]:
for index, row in coffee.iterrows():
    print(index, row)
    print('-----')

0 Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object
-----
1 Day            Monday
Coffee Type     Latte
Units Sold         15
Name: 1, dtype: object
-----
2 Day             Tuesday
Coffee Type    Espresso
Units Sold           30
Name: 2, dtype: object
-----
3 Day            Tuesday
Coffee Type      Latte
Units Sold          20
Name: 3, dtype: object
-----
4 Day            Wednesday
Coffee Type     Espresso
Units Sold            35
Name: 4, dtype: object
-----
5 Day            Wednesday
Coffee Type        Latte
Units Sold            25
Name: 5, dtype: object
-----
6 Day            Thursday
Coffee Type    Espresso
Units Sold           40
Name: 6, dtype: object
-----
7 Day            Thursday
Coffee Type       Latte
Units Sold           30
Name: 7, dtype: object
-----
8 Day              Friday
Coffee Type    Espresso
Units Sold           45
Name: 8, dtype: object
-----
9 Day            Friday
Coffee Type     Latte
Units Sold         35
Name: 9, dtype: object
-----
10 Day            Saturday
Coffee Type    Espresso
Units Sold           45
Name: 10, dtype: object
-----
11 Day            Saturday
Coffee Type       Latte
Units Sold           35
Name: 11, dtype: object
-----
12 Day              Sunday
Coffee Type    Espresso
Units Sold           45
Name: 12, dtype: object
-----
13 Day            Sunday
Coffee Type     Latte
Units Sold         35
Name: 13, dtype: object
-----

In [5]:
for row in coffee.itertuples():
    print(row)
    print('-----')

Pandas(Index=0, Day='Monday', _2='Espresso', _3=25)
-----
Pandas(Index=1, Day='Monday', _2='Latte', _3=15)
-----
Pandas(Index=2, Day='Tuesday', _2='Espresso', _3=30)
-----
Pandas(Index=3, Day='Tuesday', _2='Latte', _3=20)
-----
Pandas(Index=4, Day='Wednesday', _2='Espresso', _3=35)
-----
Pandas(Index=5, Day='Wednesday', _2='Latte', _3=25)
-----
Pandas(Index=6, Day='Thursday', _2='Espresso', _3=40)
-----
Pandas(Index=7, Day='Thursday', _2='Latte', _3=30)
-----
Pandas(Index=8, Day='Friday', _2='Espresso', _3=45)
-----
Pandas(Index=9, Day='Friday', _2='Latte', _3=35)
-----
Pandas(Index=10, Day='Saturday', _2='Espresso', _3=45)
-----
Pandas(Index=11, Day='Saturday', _2='Latte', _3=35)
-----
Pandas(Index=12, Day='Sunday', _2='Espresso', _3=45)
-----
Pandas(Index=13, Day='Sunday', _2='Latte', _3=35)
-----