In [17]:
import pandas as pd

coffee = pd.read_csv('warmup-data/coffee.csv')

coffee['price'] = coffee['Coffee Type'].map({'Espresso': 3.99, 'Latte': 4.99, 'Cappuccino': 5.99})

coffee

          Day Coffee Type  Units Sold  price
0      Monday    Espresso          25   3.99
1      Monday       Latte          15   4.99
2     Tuesday    Espresso          30   3.99
3     Tuesday       Latte          20   4.99
4   Wednesday    Espresso          35   3.99
5   Wednesday       Latte          25   4.99
6    Thursday    Espresso          40   3.99
7    Thursday       Latte          30   4.99
8      Friday    Espresso          45   3.99
9      Friday       Latte          35   4.99
10   Saturday    Espresso          45   3.99
11   Saturday       Latte          35   4.99
12     Sunday    Espresso          45   3.99
13     Sunday       Latte          35   4.99

In [18]:
coffee['revenue'] = coffee['price'] * coffee['Units Sold']
coffee['yesterday_revenue'] = coffee['revenue'].shift(2)
coffee['percent_change'] = (coffee['revenue'] - coffee['yesterday_revenue']) / coffee['yesterday_revenue'] * 100

coffee

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,percent_change
0,Monday,Espresso,25,3.99,99.75,NaN,NaN
1,Monday,Latte,15,4.99,74.85,NaN,NaN
2,Tuesday,Espresso,30,3.99,119.70,99.75,20.000000
3,Tuesday,Latte,20,4.99,99.80,74.85,33.333333
4,Wednesday,Espresso,35,3.99,139.65,119.70,16.666667
5,Wednesday,Latte,25,4.99,124.75,99.80,25.000000
6,Thursday,Espresso,40,3.99,159.60,139.65,14.285714
7,Thursday,Latte,30,4.99,149.70,124.75,20.000000
8,Friday,Espresso,45,3.99,179.55,159.60,12.500000
9,Friday,Latte,35,4.99,174.65,149.70,16.666667
10,Saturday,Espresso,45,3.99,179.55,179.55,0.000000
11,Saturday,Latte,35,4.99,174.65,174.65,0.000000
12,Sunday,Espresso,45,3.99,179.55,179.55,0.000000
13,Sunday,Latte,35,4.99,174.65,174.65,0.000000

In [34]:
coffee['revenue_rank'] = coffee['revenue'].rank(method='average', ascending=True)

coffee = coffee.sort_values(by='revenue_rank', ascending=False)

coffee

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,percent_change,revenue_rank
8,Friday,Espresso,45,3.99,179.55,159.60,12.500000,13.0
10,Saturday,Espresso,45,3.99,179.55,179.55,0.000000,13.0
12,Sunday,Espresso,45,3.99,179.55,179.55,0.000000,13.0
13,Sunday,Latte,35,4.99,174.65,174.65,0.000000,10.0
11,Saturday,Latte,35,4.99,174.65,174.65,0.000000,10.0
9,Friday,Latte,35,4.99,174.65,149.70,16.666667,10.0
6,Thursday,Espresso,40,3.99,159.60,139.65,14.285714,8.0
7,Thursday,Latte,30,4.99,149.70,124.75,20.000000,7.0
4,Wednesday,Espresso,35,3.99,139.65,119.70,16.666667,6.0
5,Wednesday,Latte,25,4.99,124.75,99.80,25.000000,5.0
2,Tuesday,Espresso,30,3.99,119.70,99.75,20.000000,4.0
3,Tuesday,Latte,20,4.99,99.80,74.85,33.333333,3.0
0,Monday,Espresso,25,3.99,99.75,NaN,NaN,2.0
1,Monday,Latte,15,4.99,74.85,NaN,NaN,1.0

In [38]:
coffee.sort_index(inplace=True)

coffee

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,percent_change,revenue_rank
0,Monday,Espresso,25,3.99,99.75,NaN,NaN,2.0
1,Monday,Latte,15,4.99,74.85,NaN,NaN,1.0
2,Tuesday,Espresso,30,3.99,119.70,99.75,20.000000,4.0
3,Tuesday,Latte,20,4.99,99.80,74.85,33.333333,3.0
4,Wednesday,Espresso,35,3.99,139.65,119.70,16.666667,6.0
5,Wednesday,Latte,25,4.99,124.75,99.80,25.000000,5.0
6,Thursday,Espresso,40,3.99,159.60,139.65,14.285714,8.0
7,Thursday,Latte,30,4.99,149.70,124.75,20.000000,7.0
8,Friday,Espresso,45,3.99,179.55,159.60,12.500000,13.0
9,Friday,Latte,35,4.99,174.65,149.70,16.666667,10.0
10,Saturday,Espresso,45,3.99,179.55,179.55,0.000000,13.0
11,Saturday,Latte,35,4.99,174.65,174.65,0.000000,10.0
12,Sunday,Espresso,45,3.99,179.55,179.55,0.000000,13.0
13,Sunday,Latte,35,4.99,174.65,174.65,0.000000,10.0

In [39]:
coffee['cumsum'] = coffee['revenue'].cumsum()

coffee

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,percent_change,revenue_rank,cumsum
0,Monday,Espresso,25,3.99,99.75,NaN,NaN,2.0,99.75
1,Monday,Latte,15,4.99,74.85,NaN,NaN,1.0,174.60
2,Tuesday,Espresso,30,3.99,119.70,99.75,20.000000,4.0,294.30
3,Tuesday,Latte,20,4.99,99.80,74.85,33.333333,3.0,394.10
4,Wednesday,Espresso,35,3.99,139.65,119.70,16.666667,6.0,533.75
5,Wednesday,Latte,25,4.99,124.75,99.80,25.000000,5.0,658.50
6,Thursday,Espresso,40,3.99,159.60,139.65,14.285714,8.0,818.10
7,Thursday,Latte,30,4.99,149.70,124.75,20.000000,7.0,967.80
8,Friday,Espresso,45,3.99,179.55,159.60,12.500000,13.0,1147.35
9,Friday,Latte,35,4.99,174.65,149.70,16.666667,10.0,1322.00
10,Saturday,Espresso,45,3.99,179.55,179.55,0.000000,13.0,1501.55
11,Saturday,Latte,35,4.99,174.65,174.65,0.000000,10.0,1676.20
12,Sunday,Espresso,45,3.99,179.55,179.55,0.000000,13.0,1855.75
13,Sunday,Latte,35,4.99,174.65,174.65,0.000000,10.0,2030.40

In [40]:
coffee['rolling'] = coffee['revenue'].rolling(3).sum()

coffee

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,percent_change,revenue_rank,cumsum,rolling
0,Monday,Espresso,25,3.99,99.75,NaN,NaN,2.0,99.75,NaN
1,Monday,Latte,15,4.99,74.85,NaN,NaN,1.0,174.60,NaN
2,Tuesday,Espresso,30,3.99,119.70,99.75,20.000000,4.0,294.30,294.30
3,Tuesday,Latte,20,4.99,99.80,74.85,33.333333,3.0,394.10,294.35
4,Wednesday,Espresso,35,3.99,139.65,119.70,16.666667,6.0,533.75,359.15
5,Wednesday,Latte,25,4.99,124.75,99.80,25.000000,5.0,658.50,364.20
6,Thursday,Espresso,40,3.99,159.60,139.65,14.285714,8.0,818.10,424.00
7,Thursday,Latte,30,4.99,149.70,124.75,20.000000,7.0,967.80,434.05
8,Friday,Espresso,45,3.99,179.55,159.60,12.500000,13.0,1147.35,488.85
9,Friday,Latte,35,4.99,174.65,149.70,16.666667,10.0,1322.00,503.90
10,Saturday,Espresso,45,3.99,179.55,179.55,0.000000,13.0,1501.55,533.75
11,Saturday,Latte,35,4.99,174.65,174.65,0.000000,10.0,1676.20,528.85
12,Sunday,Espresso,45,3.99,179.55,179.55,0.000000,13.0,1855.75,533.75
13,Sunday,Latte,35,4.99,174.65,174.65,0.000000,10.0,2030.40,528.85